{% comment %}
This is the index page using the include method. 
{% endcomment %}

{% include "prof_rater/header.html" %}

	<!-- jsko library -->
	<script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>


	<div id="content">

		<div class="search">
		    <h1>Search Criteria</h1>
		    <form action="#">
		    	Search by professor's name <br/>
		    	<input placeholder="e.g. Ted Kirkpatrick" type="search" name="q" data-bind="value: name_query, valueUpdate: 'keyup'" autocomplete="off">
		    </form>
			<form action="#">
		    	Search by department<br/>
		    	<input placeholder="e.g. Software Systems" type="search" name="r" data-bind="value: department_query, valueUpdate: 'keyup'" autocomplete="off">
		    </form>
		    <!-- TODO: Implement search by course -->
		    <form action="#" style="color:red;">
		    	Search by course<br/>
		    	<input placeholder="e.g. CMPT 470" type="search" name="s" autocomplete="off">
		    </form>
		</div>
		
		<div class="result">
		    <h1>Search Results</h1>
		    <ul data-bind='foreach: professorToShow'>
				<hr>
		    	<li>
		    		<!-- TODO: URL fix -->
		    		<a data-bind="attr: { href: id, title: id }">

			    		<span data-bind='text: first_name'></span>
			    		<span data-bind='text: last_name'></span>
			    	</a>
			    	(<span data-bind='text: department'></span>)
		    		<br/>

		    		<span data-bind='text: review_set_count'></span> student review(s).
		 			<br/>
		 			Meta Score: <span data-bind='text: meta_score'></span>
		    	</li>
		    </ul>
		    <hr>
	    </div>

	</div>




<!-- http://www.knockmeout.net/2011/04/utility-functions-in-knockoutjs.html -->
<!-- http://knockoutjs.com/examples/animatedTransitions.html -->
<!-- http://opensoul.org/2011/06/23/live-search-with-knockoutjs/ -->
<script>
	var ProfessorModel = function(professors) {
	    this.professors = ko.observableArray(professors);

	    this.addProf = function(pk, fn, ln, d, ms, rsc){
	    	this.professors.push({
				id: pk,
				first_name: fn,
				last_name: ln,
				department: d,
				meta_score: ms,
				review_set_count: rsc
			});
	    };

	    this.name_query = ko.observable(""),

	    this.department_query = ko.observable(""),

	    this.professorToShow = ko.pureComputed(function(){
	    	var input_name_query = this.name_query();
	    	var input_department_query = this.department_query();
	    	
	    	return ko.utils.arrayFilter(this.professors(), function(professor){
	    		var professor_full_name = professor.first_name + " " + professor.last_name;
	    		return (professor_full_name.toLowerCase().indexOf(input_name_query.toLowerCase()) >= 0) &&
					   (professor.department.toLowerCase().indexOf(input_department_query.toLowerCase())  >= 0);
	    	});
	    }, this);
	};
	 
	professorModel = new ProfessorModel([]);
	ko.applyBindings(professorModel);
</script>
{% for prof in prof_list %}
<script> professorModel.addProf("{{ prof.pk }}", "{{ prof.first_name }}", "{{ prof.last_name }}", "{{ prof.department }}", "{{ prof.meta_score }}", "{{ prof.review_set.count }}"); 
</script>
{% endfor %}


{% include "prof_rater/footer.html" %}
