{% comment %}
Note that header.html has <head></head> and <body>.
</body> is in the footer.html
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Prof Rater by Team Delta 13</title>

<!-- google fonts -->

<!-- <link rel='stylesheet' href='/style.css' type='text/css'></link> -->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css'%}" type="text/css" />
<!-- TODO: use bootstrap for css later -->

</head>

<body>
	<div id="header">
		<p>header_banner_placeholder</p>
	</div>